:root {
    --primary-color: #b5eb5a;
    --darker-primary-color: #90bd44;
    --secondary-color: #3b4753;
    --darker-secondary-color: #262e36;
    --third-color: #fff;
    --font-color: #eee;
    --background-color: #fff;
    --danger-color : #f04932;
    --darker-danger-color : #c73d2a;
}
body,
html {
    margin: 0;    
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: .92rem;
}
a {
    text-decoration: none;
}
/* Navigation */
.menu {
    font-size: 1.5rem;
    padding: .6rem .9rem;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    text-align: center;
}
.menu:hover {
    background-color: unset;
}
.nav {
    width: 100%;
    margin: 0;
    background-color: var(--secondary-color);
    justify-content: space-between;
    position: fixed;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 50px;
    z-index: 100;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .2);
    box-sizing: border-box;
    padding: 0;
}
.toHome {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary-color);
    height: 70px;
    width: 120px;
    line-height: 70px;
    text-align: center;
    border-radius: 0 0 30px 30px;
    display: none;
    z-index: 999;
    transition: .5s all ease;
}
.toHome a:hover {
    color: var(--third-color);
}
.nav .home {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: .8rem;
    margin-left: 20px;
    font-weight: bold;
    font-size: 24px;
    line-height: 50px;
}
.nav .fa-bars {
    color: var(--primary-color);
}
.nav a {
    display: inline-block;
    padding: 0 10px;
    color: var(--primary-color);
    text-decoration: none;
}
.toHome a {
    color: var(--secondary-color);
    font-size: 2em;
}
.nav-list a {
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 5px;
    transition: .5s all ease;
}
.nav-list ul{
    box-sizing: border-box;
    padding: 10px;
    list-style: none;
    flex-wrap: wrap;
    margin: 0;
    background-color: var(--secondary-color);
    position: absolute;
    width: 100%;
    max-width: 300px;
    height: 100vh;
    z-index: 0;
    right: 0;
    top: 50px;
    overflow: hidden;
    box-shadow: -2px 2px 6px rgba(0, 0, 0, .3);
    font-size: 1.4rem;
    border-left: 3px solid var(--primary-color);
    transform: translateX(100%);
    transition: transform .5s ease;
}
.nav-list.active ul{
    transform: translateX(0);
}
.nav-list li {
    margin-bottom: 15px;
}
.nav-list ul a:hover{
    border-bottom: 3px solid var(--primary-color);
}
.nav-list a:hover {
    transition: .3s all ease;
}
a.nav-link {
    margin: .4em 1em;
    color: var(--primary-color);
    transition: all .5 ease;
}
a.nav-link:hover {
    color: var(--third-color);
}
.navbar-nav {
    position: absolute;
    right: 0;
    background-color: var(--secondary-color);
    width: 35%;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, .3);
    border-left: 1px solid var(--primary-color);
}
.navbar-largeMode {
    display: none;
    list-style: none;
    margin: 0;
}

/* Register */
.card-header, .btn {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.card-body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
.btn:hover {
    background-color: var(--darker-secondary-color);
    color: var(--primary-color)
}
/* Main Content */
.main-content {
    box-sizing: border-box;
    margin: 4em 1em;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 3em;
    color: var(--secondary-color);
}

/* Post */
.all-posts {
    /* width: 70%; */
    padding: 0 1em;
    margin-right: 0;
}

.posting {
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 1.4rem 0;
    background-color: var(--secondary-color);
    border-radius: 20px;
    padding: .9em;
}
.editing {
    max-height: 130px;
}
.posting form {
    width: 85%;
}
.posting form .post-input {
    width: 100%;
    box-sizing: border-box;
    padding: .6em;
    border-radius: 10px;
    outline: none;
    margin: 0 0 .5em 0;
    font-family: inherit;
    font-size: inherit;
    resize: none;
}
.profile {
    min-width: 70px;
    min-height: 70px;
    max-height: 70px;
    max-width: 70px;
    background-color: var(--primary-color);
    border-radius: 50%;
    margin: 0 .8rem 0 0;
}
.author-username {
    position: relative;
    z-index: 1;
}
.search-input {
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0;
    padding: .3em;
    font-size: 14px;
    border: none;
    max-width: 70%;
    outline: none;
}
.button-post {
    padding: .6em 1.1em;
    float: right;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
}

.post {
    color: var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
}
.post-link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
/* Side Widget */
.sideWidget {
    position: sticky;
    top: 12%;
    display: none;
    flex: 0;
}
/* placeholder */
.sideWidget input:focus::-webkit-input-placeholder,
.posting .post-input:focus::-webkit-input-placeholder {
    opacity: .5;
}

/* Detailed Post */
.detail-post {
    border-bottom: 2px solid var(--primary-color);
    background-color: var(--secondary-color);
    box-sizing: border-box;
    padding: .8em;
    border-radius: 10px;
    color: var(--primary-color);
}
.author-profile {
    position: relative;
    display: flex;
    align-items: center;
}
.author-name {
    width: 50%;
}
.author-name h2,
.author-name p {
    color: inherit;
    margin: 0;
}
.author-name a{
    color: inherit;
}
.detailed-post {
    box-sizing: border-box;
    padding: .5em;
    position: relative;
    margin: 0 0 1rem 0;
}
.delete-button {
    color: var(--danger-color);
    font-size: 1.8em;
    position: absolute;
    right: 2%;
    top: 15%;
}
.delete-button:hover {
    color: #f76652;
}
.post-reaction {
    position: absolute;
    right: 0;
    bottom: -15%;
    display: flex;
    column-gap: 1em;
    font-size: .8rem;
}
.post-reaction a {
    box-sizing: border-box;
    padding: 0 .4em 0 0;
    color: inherit;
    opacity: .7;
    border-right: 1px solid var(--primary-color);
}
.post-date {
    opacity: .7;
}
.post-reaction a:hover {
    opacity: 1;
}
.comment-post {
    position: relative;
    display: flex;
    box-sizing: border-box;
    padding:  2em .5em;
    color: var(--secondary-color);
}
.comment-post:hover {
    background-color: rgba(0, 0, 0, .3);
}
.comment-post .profile {
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    max-height: 50px;
}
.comment-content p {
    margin: .3em;
    color: var(--secondary-color);
}
button:hover {
    background-color: var(--darker-primary-color);
}
/* Profile Detail */
.profile-user {
    border-bottom: 2px solid var(--primary-color);
    background-color: var(--secondary-color);
    box-sizing: border-box;
    padding: .8em;
    border-radius: 10px;
    color: var(--primary-color);
}
.profile-about .bio {
    margin: 1.5em;
}
.profile-detail {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
a.follow-button {
    cursor: pointer;
    display: inline-block;
    padding: .7em 1.7em;
    margin-top: .5em;
    border-radius: 6px;
    border: none;
    box-shadow: inset 0px -2px 4px rgba(255, 255, 255, .1),
    inset 2px 2px 4px rgba(0, 0, 0, .2);
    background-color: var(--third-color);
    color: var(--secondary-color);
}
a.follow-button:hover {
    background-color: var(--darker-primary-color);
}
a.settings {
    background-color: var(--primary-color);
    box-shadow: unset;
    font-size: 1.4rem;
    padding: .4em;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}
.cancel-button {
    padding: .4em 1.1em;
    float: right;
    border: none;
    border-radius: 5px;
    color: var(--third-color);
    cursor: pointer;
    margin-left: .9em;
}
.cancel-button:hover {
    background-color: var(--darker-danger-color)
}

/* Modal */
.popup {
    display: none;
}
.popup.active {
    display: unset;
}
.bg-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, .6);
    z-index: 100;
}
.modal {
    position: fixed;
    z-index: 999;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    background-color: var(--secondary-color);
    color: var(--third-color);
    padding: 2em;
    border-radius: 10px;
}
/* Modal button */
.modal .choice {
    display: flex;
    justify-content: space-evenly;
}
.choice a {
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    padding: .7em 1em;
    width: 75px;
    text-align: center;
    border-radius: 5px;
}
a.yes {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
.cancel {
    background-color: var(--danger-color);
}
.yes:hover {
    background-color: var(--darker-primary-color);
}
.cancel:hover {
    background-color: var(--darker-danger-color);
}
